

APP_NAME=MrKarirBot
ENVIRONMENT=development

SECRET_KEY=c4iBxfmpimmzyQiM9sfx4bWMR0kt1sKwxGa0jiKiIvQ0RBfLNUGtABP0iY58IkQgXtUSRU1-N96oDI2S0DWq9g

DATABASE_URL=postgresql+asyncpg://postgres.cnugvjqejvymxwddylxf:40Kusnadi123@aws-0-ap-southeast-2.pooler.supabase.com:5432/postgres

REDIS_URL=redis://default:WfPSV90z0a4NO3kfnkE5VOY1CPPpkEM0@tall-pancake-ultraglossy-97353.db.redis.io:15271

TELEGRAM_BOT_TOKEN=8422605734:AAHYvmafXCu7pyzR_p50sS7_eeekNDeBvPs
TELEGRAM_WEBHOOK_URL=https://mrkarirbot-production.up.railway.app/api/v1/telegram/webhook
OPENAI_API_KEY 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=
